* {
  margin: 0;
  padding: 0;
}

body {
  background: url(bckg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5rem;
  color: #fff;
}

ul {
  float: right;
  margin-right: 50px;
}
